---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
// import CustomComponent from './CustomComponent.astro';
---

<StarlightPage frontmatter={{ title: 'Bespoke Sound System' }}>
    <p>This is a web page with sonic feedback.</p>

</StarlightPage>